:root {
  /* ——————— Color ——————— */
  --color-main: #000639;
  --color-secondery: #80829C;
  --color-card-bg: #ffffff;
  --color-accent: #001BFF;
  /* Font */
  --text-primary: #000639;
  --text-secondary: #80829C;
  
  /* ——————— Typography ——————— */
  /* Fonts */
  --font-family-primary: 'inter', sans-serif;
  /* Sizes */
  --font-size-h1: 24px;
  --font-size-h2: 20px;
  --font-size-h3: 16px;
  --font-size-P: 14px;
  --font-size-button: 14px;

  /* Weights */
  --font-weight-main: 400;
  --font-weight-strong: 700;
  
  /* ——————— Space ——————— */
  --space-8: 10px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-48: 48px;
  --space-64: 64px;
  --space-96: 96px;
  --space-128: 128px;
  }

  /* –– */
* {
  scroll-behavior: smooth;
}

/* ——————— initial setup ————————— */
p {
  font-family: var(--font-family-primary);
}

strong {
  font-weight: bold;
}

h1 {
  font-family: var(--font-family-primary);
}

body {
  background-color: var(--color-main);
  padding: var(--space-48);
  margin: auto 0;
}

/* ——————— main container ————————— */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* ——————— input container ————————— */
.search-input {
  width: 100%;
  margin: 0 auto;
}


/* ——————— team / stadion section ————————— */

.team-stadion-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: orange;
}

.team-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--space-128);
  background-color: var(--color-card-bg);
  padding: var(--space-24);
  border-radius: var(--space-24);
}

.team-img img {
  width: var(--space-96);
  height: auto;
  border-radius: 128px;
  padding-bottom: var(--space-16);
}

.stadion-container {
  background-color: var(--color-card-bg);
  padding: var(--space-24);
  border-radius: var(--space-24);
  max-width: 270px;
}

.stadion-details {
  display: flex;
  padding-bottom: var(--space-24);
}

.city-and-street {
  padding-right: var(--space-24);
}

.cap-and-surf {

}

.cap-and-surf strong {
  font-weight: bold;
}

.stadion-img img {
  width: 100%;
  object-fit: cover;
  border-radius: var(--space-16);
}