:root {
  /* ——————— Color ——————— */
  --color-main: #000639;
  --color-secondery: #80829C;
  --color-card-bg: #ffffff;
  --color-accent: #001BFF;
  /* Font */
  --text-primary: #000639;
  --text-secondary: #80829C;
  
  /* ——————— Typography ——————— */
  /* Fonts */
  --font-family-primary: 'inter', sans-serif;
  /* Sizes */
  --font-size-h1: 24px;
  --font-size-h2: 20px;
  --font-size-h3: 16px;
  --font-size-P: 14px;
  --font-size-button: 14px;

  /* Weights */
  --font-weight-main: 400;
  --font-weight-strong: 700;
  
  /* ——————— Space ——————— */
  --space-8: 10px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-48: 48px;
  --space-64: 64px;
  --space-96: 96px;
  --space-128: 128px;
  }


/* ——————— initial setup ————————— */
* {
  box-sizing: border-box;
}

p {
  font-family: var(--font-family-primary);
  color: var(--color-main);
}

strong {
  font-family: var(--font-family-primary);
  font-weight: 700;
}

h1 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-h1);
}

body {
  background-color: var(--color-main);
  font-family: var(--font-family-primary);
}


/* ——————— main setup ————————— */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ——————— grid setup ————————— */
.grid-parent {
  max-width: 80%;
  min-width: 700px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  }
  
  .input-item { grid-area: 1 / 1 / 2 / 7; }
  .team-item { grid-area: 2 / 1 / 3 / 4; }
  .stadion-item { grid-area: 2 / 4 / 3 / 7; }
  .league-item { grid-area: 3 / 1 / 4 / 7; }
  .card-matches { grid-area: 4 / 1 / 5 / 3; }
  .card-goals { grid-area: 4 / 3 / 5 / 5; }
  .card-avg-goals { grid-area: 4 / 5 / 5 / 7; }
  .card-wins { grid-area: 5 / 1 / 6 / 3; }
  .card-draws { grid-area: 5 / 3 / 6 / 5; }
  .card-losses { grid-area: 5 / 5 / 6 / 7; }

/* ——————— input container ————————— */
.search-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: -6px;
}

.search-input input[type="text"] {
  width: 100%;
  padding: var(--space-16);
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: var(--font-size-P);
  box-sizing: border-box;
}

.search-input p {
  margin-top: 6px;
  font-size: 12px;
  color: var(--color-card-bg);
}


/* ——————— team section ————————— */

.team-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-card-bg);
  padding: var(--space-24);
  border-radius: var(--space-24);
  gap: var(--space-16);
}

.team-facts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-8);
}

.team-facts h2 {
  font-size: var(--font-size-h2);
  font-weight: 700;
}

.team-img img {
  width: var(--space-96);
  height: auto;
  border-radius: 128px;
  padding-bottom: var(--space-16);
}

/* ——————— stadion section ————————— */

.stadion-container {
  background-color: var(--color-card-bg);
  padding: var(--space-24);
  border-radius: var(--space-24);
}

.stadion-details {
  display: flex;
  padding-bottom: var(--space-24);
}

.city-and-street {
  padding-right: var(--space-24);
}

.cap-and-surf strong {
  font-weight: bold;
}

.stadion-img {
  overflow: hidden;
  border-radius: var(--space-16);
  max-height: 150px;
  position: relative;

}

.stadion-img img {
  object-fit: contain;
  width: 100%;
  transform: scale(1);
}

.cs-block {
  display: flex;
}

.cs-block strong {
  margin-right: 6px;
}

.card-badge {
  background-color: var(--color-card-bg);
  color: var(--text-primary);
  padding: var(--space-8) var(--space-16);
  border-radius: var(--space-24);
  font-size: var(--font-size-P);
  position: absolute; 
  top: 12px; /* Adjust the value as needed */
  right: 12px; 
  z-index: 999;
}

/* ——————— league section ————————— */

.league-container {
  background-color: var(--color-card-bg);
  padding: var(--space-24);
  border-radius: var(--space-24);
}

/* ——————— stats section ————————— */

.stats-container {
  display: flex;
  flex-direction: column;
  background-color: var(--color-card-bg);
  padding: var(--space-24);
  border-radius: var(--space-24);
  gap: var(--space-8);
}

.stats-container h2 {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-P);
  font-weight: 700;
  color: var(--color-secondery);
}

.stats-container h1 {
  font-size: var(--space-64);
  font-weight: 700;
  color: var(--color-primary);
}

.home-away-stats {
  display: flex;
}

.home-away-stats strong {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-P);
  font-weight: 700;
  padding-right: 6px;
  color: var(--color-secondery);
}

.home-away-stats p {
  color: var(--color-primary);
}

.divider-line {
  border-top: 3px solid var(--color-main);
  width: 100%;
}
